.b-card[card]
  .b-card-show
    %h4.word= card.word
  .b-card-hide
    %p.mean= card.mean
    .b-card-action
      .level-up
        %label "#{card.level + 1}단계"
        = link_to "외움", "#"
      .edit
        %label "Edit"
        = link_to 'Edit', edit_card_path(card)
