.b-card[card]
  .b-card-show
    %h4.word= card.word
  .b-card-hide
    %p.mean= card.mean
    .b-card-action
      .level-up
        %label= "#{card.level + 1}단계"
        = link_to "#{card.off_days}일 후 다시보기", level_up_card_path(card), :method => "put" 
      .edit
        = link_to 'edit', edit_card_path(card)
