.cards
  - @cards.each do |card|
    .card[card]
      .word= card.word
      .mean= card.mean
      .controll
        = link_to 'Edit', edit_card_path(card)
        = link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Card', new_card_path
