%h3= "Today : #{@cards.total_count}"
%h4= "Total : #{current_user.cards_count}"
%hr

.w-cards
  .b-add
  =form_for Card.new do |f|
    .b-add-show
      .form-field= f.text_field :word, :placeholder => "+ ADD"
    .b-add-hide
      .form-field= f.text_area :mean
      .form-action= f.submit "save"
  .b-cards= render @cards
  .b-pagination= paginate @cards
  


