- content_for :head do
  :javascript   
    $(document).ready(function(){
      $(".content").hide();
      $(".word").click(function(){
        $(this).siblings(".content").slideToggle("fast");
      });
    });   


= link_to 'New Card', new_card_path    

.tab
  = link_to "Today(#{current_user.cards.today.count})", cards_path
  = link_to "Week(#{current_user.cards.week.count})", cards_path(tab: 'week')

.cards
  .cards_count= "#{@cards.total_count} words!"
  - @cards.each do |card|
    .card[card]
      .word= card.word
      .content
        .mean= card.mean
        .controll
          = link_to 'Edit', edit_card_path(card)
          = link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete

= paginate @cards        


