- content_for :head do
  :javascript   
    $(document).ready(function(){
      $(".content").hide();
      $(".word").click(function(){
        $(this).siblings(".content").slideToggle("fast");
      });
    });   

.new_card
  = form_for Card.new do |f|
    = f.text_field :word, :placeholder => "Enter new word"
  
    
.cards
  - @cards.each do |card|
    .card[card]
      .word= card.word
      .content
        .mean= card.mean
        .controll
          = link_to 'Edit', edit_card_path(card)
          = link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete

= paginate @cards        


