= link_to 'New Card', new_card_path    

.tab
  = link_to 'Today', cards_path
  = link_to 'Week', cards_path(tab: 'week')

.cards
  .cards_count= "#{@cards.count} words!"
  - @cards.each do |card|
    .card[card]
      .word= card.word
      .mean= card.mean
      .controll
        = link_to 'Edit', edit_card_path(card)
        = link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete


