- content_for :head do
  :javascript   
    $(document).ready(function(){
      $(".content").hide();
      $(".word").click(function(){
        $(this).siblings(".content").slideToggle("fast");
      });
    });   

%nav.menu
  %ul.tabs
    %li.tab= link_to "Today", cards_path
    %li.tab= link_to "Week", cards_path(tab: 'week')
    %li.tab= link_to "Reminder", "#"
  = link_to "+", new_card_path, :class => "add"  


.cards
  - @cards.each do |card|
    .card[card]
      .word= card.word
      .content
        .mean= card.mean
        .controll
          = link_to 'Edit', edit_card_path(card)
          = link_to 'Destroy', card, :confirm => 'Are you sure?', :method => :delete

= paginate @cards        


