%p#notice= notice

%p
  %b User:
  = @card.user
%p
  %b Word:
  = @card.word
%p
  %b Mean:
  = @card.mean
%p
  %b Level:
  = @card.level

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
